@{
    //Es es el home page que el usuario ve cuando se ejecuta el prototipo.
    //Los enlaces de navegacion estan localizados en _Layout.cshtml, que es 
    //la pagina que refleja los enlaces en cada pagina de los views.
    ViewBag.Title = "DJMax Home";
}

<h2>Bienvenidos a mi aplicacion de shopping cart para el proyecto de implementacion!</h2>
<p>En esta aplicacion observaremos las funciones basicas de un shopping cart.</p>
