<!--Finalizacion de la compra, el usuario ve una pagina de orden completada y la informacion es
    actualizado en la base de datos de Ordenes-->
@{
    ViewBag.Title = "Order Accepted";
}

<h2>Gracias!</h2>
Gracias por su compra! Se lo enviaremos ahora!
